<div class="span4">
    <aside>
        <div class="widget">
            <h4 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;User Menu</h4>
            <img  src="{{ asset('uploads/images/' ~ app.user.image) }}" style="height: 80px" class="img-xs rounded-circle" alt="User image">
            {{ app.user.name }} {{ app.user.surname }}
            <ul>
                <li><a href="/user">Profilim</a></li>
                <li><a href="/user/university">Paylaştıklarım</a></li>
                <li><a href="/user/comments">Yorumlarım</a></li>
                <li><a href="/logout">Çıkış</a></li>
            </ul>
        </div>


    </aside>
</div>
